# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the key takeaways from the course
Objectives
1. The popular languages that Data Scientists use
2. Commonly used libraries by Data Scientists
4. Writing Arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Ja

Some of the commonly used libraries by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow

| Data science tools |
| :----------------: |
| Oracle Database |
| Microsoft SQL Server|
| IBM Db2 |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Yasmin